<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Contro de Personal</span>

    <span class="example-spacer"></span>

    <button mat-button>Entradas</button>
    <button mat-button>Log out</button>
  </mat-toolbar-row>
</mat-toolbar>

  <mat-form-field>
    <!--<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">-->
    <input matInput [matDatepicker]="picker" (keyup)="applyFilter($event.target.value)" (dateChange)="applyFilter(dateFormat($event))" placeholder="Seleccione fecha">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <ng-container matColumnDef="Nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Puesto">
      <mat-header-cell *matHeaderCellDef> Puesto </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.puesto}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Fecha">
      <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fecha}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Hora">
      <mat-header-cell *matHeaderCellDef> Hora </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.hora}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

  <mat-paginator #paginator
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 20]"
               [showFirstLastButtons]="true">
  </mat-paginator>
</div>